<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <customErrors mode="On" defaultRedirect="error.aspx">
      <error statusCode="404" redirect="error.aspx?sc=404"/>
    </customErrors>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600" />
    <!--httpRuntime targetFramework="4.0" /-->
      <!--<sessionState cookieless="true"></sessionState>-->
      <sessionState mode="StateServer"></sessionState>
      <pages enableSessionState="true"> <!--SessionState set true, so can use Session even earlier than Page_Load (e.g. header)-->
        <controls>
          <add tagPrefix="uc" src="~/control/Menu.ascx" tagName="Menu"/>
        </controls>
      </pages>
  </system.web>
  <connectionStrings>
      <add name="ConnString" connectionString="Initial Catalog='LabSystemDatabase';Server='202.120.40.100,10433';User ID='sa';Password='sjtu_007'"></add>
  </connectionStrings>
  <appSettings>
  </appSettings>
</configuration>