<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <!--customErrors mode="On" defaultRedirect="error.aspx">
      <error statusCode="404" redirect="error.aspx?sc=404" />
    </customErrors-->
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600" requestValidationMode="2.0" />
    <!--httpRuntime targetFramework="4.0" /-->
      <!--<sessionState cookieless="true"></sessionState>-->
      <sessionState mode="StateServer"></sessionState>
      <pages enableSessionState="true"> <!--SessionState set true, so can use Session even earlier than Page_Load (e.g. header)-->
        <controls>
          <add tagPrefix="uc" src="~/uc/Menu.ascx" tagName="Menu" />
          <add tagPrefix="uc" src="~/uc/Header.ascx" tagName="Header" />
        </controls>
      </pages>
  </system.web>
  <system.webServer>
    <!--defaultDocument enabled="true">
      <files>
        <clear/>
        <add value="/login.aspx" />
      </files>
    </defaultDocument-->
    <httpErrors errorMode="Custom" existingResponse="Replace" defaultResponseMode="ExecuteURL">
      <remove statusCode="404" subStatusCode="-1" />
      <!-- if using a virtual directory here (e.g. using IIS, http://localhost/RGDZY/),
           should change the following path to /RGDZY/error.aspx-->
      <error statusCode="404" path="/error.aspx?sc=404" responseMode="Redirect" />
      <remove statusCode="401" subStatusCode="-1" />
      <error statusCode="401" path="/error.aspx?sc=401" responseMode="Redirect" />
      <remove statusCode="403" subStatusCode="-1" />
      <error statusCode="403" path="/error.aspx?sc=403" responseMode="Redirect" />
      <remove statusCode="411" subStatusCode="-1" />
      <error statusCode="411" path="/error.aspx?sc=411" responseMode="Redirect" />
      <remove statusCode="501" subStatusCode="-1" />
      <error statusCode="501" path="/error.aspx?sc=501" responseMode="Redirect" />
      <remove statusCode="500" />
      <error statusCode="500" path="/error.aspx?sc=500" responseMode="File" />
      <!--error statusCode="500" prefixLanguageFilePath="C:\RGDZY\Content\errors" path="500.htm" /-->
    </httpErrors>
  </system.webServer>
  <connectionStrings>
      <add name="ConnString" connectionString="Initial Catalog='LabSystemDatabase';Server='202.120.40.100,10433';User ID='sa';Password='sjtu_007'"></add>
  </connectionStrings>
  <appSettings>
      <add key="EmailInterval" value="3600000"></add>
  </appSettings>
    <system.webServer>
        <handlers>
            <remove name="StaticFile" />
            <add name="StaticFile" path="*" verb="*" modules="StaticFileModule" scriptProcessor="" resourceType="Either" requireAccess="Read" />
        </handlers>
    </system.webServer>
</configuration>